// / 1. Colors
$color-main: #8b4513;
$color-shade: #61300d;
$color-tint: #f3ece7;
$color-accent-dark: #658c6f;
$color-accent-light: #ffd700;
$color-alert: #d9534f;
$color-grey: #f5f5f5;
$color-black: #000;
$color-testing: orangered;

// 2. Font size
$text-header-main: 6.4rem;
$text-header-sub: 4.8rem;
$text-big: 3.6rem;
$text-emphasize: 2.4rem;
$text-standard: 2rem;
$text-small: 1.6rem;
$text-mini: 1.2rem;
$text-supersmall: 0.8rem;

// 3. Whitespace
$space-big: 12.8rem;
$space-widegap: 8.4rem;
$space-decent: 7.2rem;
$space-margin: 5.6rem;
$space-standard: 4.8rem;
$space-gap: 3.6rem;
$space-sub: 2.8rem;
$space-small: 1.6rem;
$space-mini: 1.2rem;
$space-supersmall: 0.6rem;

// 4. Screen Width
$max-width: 52.5rem;
$cardHeight: 28rem;
