*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', serif;
  font-size: $text-small;
  font-weight: 400;
  color: $color-shade;
  letter-spacing: 1.35px;
  background-color: $color-grey;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  background-color: $color-tint;
  // height: 100vh;
  overflow-x: hidden;
}

// Preset
#catalogue,
#configure {
  display: none;
}

#img-preview-img {
  width: $space-gap;
  height: auto;
  display: none;
}

#img-preview-label {
  display: none;
}
